<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "{{ meta_description }}">
        <meta name = "theme-color" data-react-helmet = "true" content = "#ffffff">
        <meta property = "og:title" content = "{{ meta_title }}">
        <meta property = "og:description" content = "{{ meta_description }}">
        <meta property = "og:site_name" content = "iipython.dev">

        <!-- CSS -->
        <style>
            @font-face {
                font-family: "AR One Sans";
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url("../fonts/ar_one_sans.woff2") format("woff2");
            }
            body {
                color: #fefefe;
                background-color: #121212;
                font-family: "AR One Sans", sans-serif;
            }
            div#main {
                top: 40px;
                left: 50%;
                width: 50%;
                position: absolute;
                padding-bottom: 40px;
                transform: translateX(-50%);
            }
            li a {
                color: #3391ff;
            }
            li a:hover {
                color: #2a74c9;
            }
            a#back {
                top: 20px;
                left: 20px;
                display: flex;
                position: fixed;
                color: #fefefe;
                align-items: center;
                text-decoration: none;
            }
            a#back svg {
                margin-right: 5px;
            }
            a#back:hover {
                text-decoration: underline;
            }
        </style>

        <link rel = "icon" type = "image/x-icon" href = "favicon.ico">
        <title>{{ title }}</title>
    </head>
    <body>
        <a href = "/" id = "back">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg> Back to main site
        </a>
        <div id = "main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
