<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "{{ description }}">
        <meta name = "theme-color" data-react-helmet = "true" content = "#ffffff">
        <meta property = "og:title" content = "{{ title or 'iiPython' }}">
        <meta property = "og:description" content = "{{ description }}">
        <meta property = "og:site_name" content = "iiPython's Home">
    
        <!-- CSS -->
        <link href = "/css/retro.css" rel = "stylesheet">

        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico">
        <title>{{ title or "iiPython" }}</title>
    </head>
    <body>
        <main>
            <div class = "content banner">
                <img src = "./assets/pfp.webp">
                <h1>iiPython's Humble Abode</h1>
                <div id = "marquee"><p>Reinventing the wheel since 2007.</p></div>
            </div>
            <div class = "flow">
                {% block content %}{% endblock %}

                <!-- Sidebar -->
                <div class = "sidebar wrapper">
                    <div class = "content">
                        <div class = "heading"><h3>Links</h3></div>
                        <ul>
                            <li><a href = "/">Main page</a></li>
                            <li><a href = "/privacy">Privacy policy</a></li>
                            <li>Accounts</li>
                            <ul>
                                <li><a href = "https://github.com/iiPythonx">GitHub</a></li>
                                <li><a href = "https://steamcommunity.com/id/iiPython_">Steam</a></li>
                                <li><a href = "https://discord.com/users/633185043774177280">Discord</a></li>
                                <li><a href = "https://www.roblox.com/users/939216698/profile">Roblox</a></li>
                                <li><a href = "https://www.youtube.com/channel/UCNBcBfXY5OqxU5_7usf3gVw">YouTube</a></li>
                            </ul>
                            <li>Archived sites</li>
                            <ul>
                                <li><a href = "/old">2023</a></li>
                                <li><a href = "https://old.iipython.dev">2021-2022</a></li>
                            </ul>
                            <li><a href = "/music">Music</a></li>
                            <li><a href = "https://status.iipython.dev">Status page</a></li>
                        </ul>
                    </div>
                    <div class = "content column">
                        <div class = "heading"><h3>88x31</h3></div>
                        <img loading = "lazy" src = "./assets/88x31/google_stand.webp">
                        <img loading = "lazy" src = "./assets/88x31/chrmevil.webp">
                        <img loading = "lazy" src = "./assets/88x31/gnu-linux.webp">
                        <img loading = "lazy" src = "./assets/88x31/noweb32.webp">
                        <img loading = "lazy" src = "./assets/88x31/screw.webp">
                        <img loading = "lazy" src = "./assets/88x31/firefoxget.webp">
                        <img loading = "lazy" src = "./assets/88x31/nocookie.webp">
                        <img loading = "lazy" src = "./assets/88x31/gnubanner.webp">
                    </div>
                </div>
            </div>
        </main>
        <img loading = "lazy" src = "./assets/bear.webp" id = "snowball">
        <script src = "/js/oneko.js" async defer></script>
    </body>
</html>