/* Variables! */
:root {
    --ayanami-blue: #6dabe4ff;
    --default-bg: #15181dff;
    --default-fg: #dfd3d3ff;
    --default-link: #d4a5a5ff;
}

/* Poppins */
@font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url("../fonts/poppins.woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url("../fonts/poppins_bold.woff2");
}

/* Somewhat of a CSS reset */
* {
    margin: 0px;
    color: var(--default-fg);
    font-family: Poppins;
}

/* Links */
a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: var(--default-fg);
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-property: color, border-color, opacity;
    
    &.link-active {
        color: var(--default-link);
        border-color: var(--default-link);
    }
    
    &.link-invert {
        &:hover {
            color: var(--default-link);
        }
    }
    
    &:not(.link-invert) {
        color: var(--default-link);

        &:hover {
            opacity: .8;
            border-color: var(--default-link);
        }
    }
}

/* Background styling */
body, html {
    height: 100%;
    background: var(--default-bg);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Main header */
header {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
        user-select: none;
        cursor: pointer;
        margin-right: auto;

        span:first-child {
            background: linear-gradient(to right, var(--ayanami-blue), var(--default-link));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.caret {
    font-weight: normal;
    animation: 1s blink infinite;
}

@keyframes blink {
    0%   { opacity:   0% }
    50%  { opacity: 100% }
    100% { opacity:   0% }
}