/* Variables! */
:root {
    --ayanami-blue: #6dabe4;
    --default-bg: #15181d;
    --default-fg: #dfd3d3;
    --link-hover: 212, 165, 165;
}

/* Poppins */
@font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url("../fonts/poppins.woff2");
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url("../fonts/poppins_bold.woff2");
}

/* Somewhat of a CSS reset */
* {
    margin: 0px;
    color: var(--default-fg);
    font-family: Poppins;
}

a {
    text-decoration: none;
    transition: color .25s ease;
    border-bottom: 1px solid rgba(var(--link-hover), 0);
    transition: border-color .5s ease;

    &:hover {
        color: rgb(var(--link-hover));
    }

    &.link-active {
        color: rgb(var(--link-hover));
        border-color: rgba(var(--link-hover), 1);
    }
}

/* Background styling */
body, html {
    height: 100%;
    background: var(--default-bg);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Main header */
header {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
        user-select: none;
        cursor: pointer;
        margin-right: auto;

        span:first-child {
            background: linear-gradient(to right, var(--ayanami-blue), rgb(var(--link-hover)));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.caret {
    font-weight: normal;
    animation: 1s blink infinite;
}

@keyframes blink {
    0%   { opacity:   0% }
    50%  { opacity: 100% }
    100% { opacity:   0% }
}