{% extends "main.jinja2" %}
{% set title = "ben's house / music" %}
{% set description = "my music ratings." %}
{% block content %}
    <style>
        span.stars, span.stars * {
            font-family: monospace;
        }
        span.starred {
            color: var(--accent);
        }
        ul {
            padding: 0px;
        }
        li {
            display: flex;
            justify-content: space-between;

            & > span:first-child {
                text-overflow: ellipsis;
                overflow: hidden;
                text-wrap: nowrap;
            }
        }
    </style>
    <details name = "ratings" open>
        <summary>Music Ratings</summary>
        <ul class = "ratings">
            <li><span>Daft Punk: Discovery</span> <span class = "stars"><span class = "starred">★★★★★</span></span></li>
            <li><span>Grim Salvo & Witchouse 40k • Grim Salvo: VOIDST★R</span> <span class = "stars"><span class = "starred">★★★★★</span></span></li>
            <li><span>shiey: contrast</span> <span class = "stars"><span class = "starred">★★★★★</span></span></li>
            <li><span>AJR: Neotheater</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>AJR: The Click</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>AK: Fate Loves the Fearless</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>AK: Like I Got It</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Alan Walker: Different World</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Alec Benjamin: 12 Notes</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Alec Benjamin: Narrated for You</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Alec Benjamin: These Two Windows</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Ariana Grande: thank u, next</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Bazanji: Far From Normal</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Bazanji: Outlier</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Bring Me the Horizon: Sempiternal</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Bryce Vine: Drew Barrymore</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Capital Cities: In a Tidal Wave of Mystery</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Casey Edwards, Victor Borba • Casey Edwards: Bury the Light</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Cheat Codes • Bryce Vine: Stay</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Daft Punk: Human After All</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Electric Guest: Dollar</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Eminem: Encore</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Eminem: Music to Be Murdered By: Side B (deluxe edition)</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Eminem: Revival</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Eminem: The Eminem Show</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Evanescence: Fallen</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Everything Everything: Cold Reactor</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Everything Everything: Get to Heaven</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>FORGOTTENAGE: End of the World</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Fall Out Boy: Centuries</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Fall Out Boy: The Phoenix</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Falling in Reverse: Voices in My Head</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Geoxor: Moonlight</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Glass Animals: How to Be a Human Being</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Glass Animals: ZABA</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Golemm: Hazardous Bubble Basics</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Grim Salvo: Dolores</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Grim Salvo: MILDRED</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Grim Salvo: orb.weaver</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Gryffin: Alive</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>HOME: Odyssey</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Harry Mack: It Goes Deep</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Hensonn: Omega</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Hensonn: Prey</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>ILLENIUM: Nightlight</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Izzamuzzic: Shootout</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Jack Harlow: Sweet Action</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Kendrick Lamar: GNX</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Kendrick Lamar: Not Like Us</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Linkin Park: Hybrid Theory</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Linkin Park: Meteora</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Linkin Park: Minutes to Midnight</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>MOSSBACK: Gravewalker's Anthem</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Madeon: The Prince</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>MitiS • RØRY: Try</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>NF: CLOUDS (THE MIXTAPE)</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>NF: HOPE</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>NF: The Search</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Neffex: Destiny</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Neffex: Grateful</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Nothing But Thieves: Dead Club City (Deluxe)</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Oliver Tree: Cowboy Tears</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Oliver Tree: Ugly Is Beautiful: Shorter, Thicker & Uglier (deluxe)</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Panda Eyes • Azuria Sky • Panda Eyes feat. Azuria Sky: Take My Hand</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Panic! at the Disco: Too Weird to Live, Too Rare to Die!</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Papa Roach: Getting Away With Murder</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Porter Robinson & Madeon • Porter Robinson: Shelter</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Savage Ga$p & KAMAARA • Savage Ga$p: in my restless dreams, i see you</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Shinedown: Threat to Survival</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Skillet: Dominion: Day of Destiny</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Skillet: Rise</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Skillet: Victorious: The Aftermath</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Stellar: Stranger</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>The Score: Pressure</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>The Weeknd & Kendrick Lamar • The Weeknd: Pray for Me</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>The Weeknd • Playboi Carti: Timeless</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Three Days Grace: One‐X</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Tristam • Braken: Flight</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>Valerie Broussard & Ray Chen • League of Legends: Awaken</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>blackbear • Tate McRae: u love u</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>deadmau5: HR 8938 Cephei</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>deadmau5: Random Album Title</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>deadmau5: Random Album Title (unmixed extended versions)</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>deadmau5: Stay</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>dracodraco: freefall</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>grandson: a modern tragedy, vol. 1</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>lil aaron: ESCALADE</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>mike.: the highs.</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>shiey: RUN AWAY</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>twenty one pilots: Blurryface</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>twenty one pilots: Breach</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>twenty one pilots: Clancy</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>twenty one pilots: Scaled and Icy</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>twenty one pilots: Trench</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>宇多田ヒカル: One Last Kiss</span> <span class = "stars"><span class = "starred">★★★★</span>★</span></li>
            <li><span>24kGoldn ft. DaBaby • 24kGoldn: Coco</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>50 Cent: Get Rich or Die Tryin’</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>AJR: Living Room</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>AJR: OK ORCHESTRA</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>AK: Don't Look Down</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>AK: Now I’m Forever</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>ARTAN • Yung Gravy: She's A 10 But... (Remix)</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Akon: Konvicted</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Alan Walker: The Spectre</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Avenged Sevenfold: Shepherd of Fire</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bazanji: Mixed Feelings</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bazzi: Soul Searching</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bohnes: Middle Finger</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bohnes: Raging on a Sunday</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bones: Unrendered</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Breaking Benjamin: Phobia</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bruno Mars: XXIVK Magic</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Bryce Vine: Private School</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>CORPSE & Night Lovell • CORPSE: HOT DEMON B!TCHES NEAR U ! ! !</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Charlie Puth • Selena Gomez: We Don't Talk Anymore</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Chris Webby: Raw Thoughts IV</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>DIRTYXAN: 4SEASONS</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>DVRST: Close Eyes</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Dean Lewis: Be Alright</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Doja Cat: 4 Morant</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>EDEN: i think you think too much of me</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Eminem: Kamikaze</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Eminem: Relapse</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Eminem: The Death of Slim Shady (Coup de Grâce)</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Eminem: The Slim Shady LP</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Fall Out Boy: The Last of the Real Ones</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Five Finger Death Punch: AfterLife</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Flo Rida: My House</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Geoxor: Faerie</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Geoxor: Stardust</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Geoxor: Zenith</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Glass Animals: Dreamland</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Grim Salvo: in your darkest nightmares, you'll see me</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Grim Salvo: why do I still care?</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Halsey: Badlands</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Hensonn: Sahara</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Hensonn: Strange</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>INZO: Overthinker</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Initial D: Super Eurobeat Presents Initial D Absolute Album feat. Takumi Fujiwara</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Jack Harlow: Come Home the Kids Miss You</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Jeremy Klein: Light Our Dead</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Jeremy Zucker: glisten</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Jon Bellion: The Human Condition</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Kanye West: Late Registration</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>MGMT: Little Dark Age</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>MOSSBACK & Saliva Grey • MOSSBACK: The Island</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Metro Boomin: Am I Dreaming</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>MitiS • Crystal Skies • Monika Santucci: Wait</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>NEFFEX • Neffex: Statement</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>NF: NF: EP</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>NF: Perception</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Neffex: Rumors</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Nickelback: All the Right Reasons</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>One True God: Afterlife</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Panic! at the Disco: Death of a Bachelor</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Post Malone: Motley Crew</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>REZZ • Grabbitz: Someone Else</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Ryan Caraveo: At Least I Tried</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Ryan Caraveo: Northend Sweetheart</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Ryan Caraveo: Trouble in Paradise</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Savage Ga$p: from hell, with love</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Set It Off: Cinematics</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Set It Off: Midnight</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Shinedown: Amaryllis</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Skillet: Awake</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Skillet: Comatose</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Skillet: Revolution</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Skillet: Unleashed Beyond</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Stellar: Bad Dream</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Stellar: Mistake</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Tate McRae: greedy</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>The Caretaker: Everywhere at the End of Time</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>The Chainsmokers: Memories…Do Not Open</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>The Chainsmokers: So Far So Good</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>The Living Tombstone: My Ordinary Life</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>The Weeknd: After Hours</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>The Weeknd: Dawn FM</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Three Days Grace: EXPLOSIONS</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Travis Scott: Birds in the Trap Sing McKnight</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Tyga: Taste</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>UNAVERAGE GANG: Cold Steel</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Vick Reputation: Suicide</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>Yung Gravy: Marvelous</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>bbno$: lil' freak</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>blackbear: ANONYMOUS</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>blackbear: everything means nothing</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>blueberry: EVA</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>deadmau5: 4×4=12</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>deadmau5: > album title goes here <</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>deadmau5: for lack of a better name</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>sad alex: new heartbreak</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>salem ilese • TOMORROW X TOGETHER • Alan Walker: PS5</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>shiey: ALL THAT MATTERS</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>shiey: been around</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>shiey: can’t be trust</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>slen: Faceless//nights Like These</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>twenty one pilots: Heathens</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>АДЛИН: Dead Inside</span> <span class = "stars"><span class = "starred">★★★</span>★★</span></li>
            <li><span>2003 Toyota Corolla: 2003 Toyota Corolla</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>AJR: The Maybe Man</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>AK: On Me</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Alec Benjamin: (Un)Commentary</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Ariana Grande: Positions</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Bazzi: Infinite Dream</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>CORPSE & Savage Ga$p • CORPSE: E‐GIRLS ARE RUINING MY LIFE!</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Coldplay: A Head Full of Dreams</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>DVRST: Dream Space</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Daft Punk: Homework</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Dua Lipa: Future Nostalgia</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Dua Lipa: Radical Optimism</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Ezgod • EGZOD: Paper Crowns</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Fetty Wap: Fetty Wap</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Glass Animals: I Love You So F***ing Much.</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Grim Salvo: Boysenberry Sepsis</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Grim Salvo: SKEET MODE</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Hensonn: Bad party</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Hensonn: Night chase</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>KSI: Dirty</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Maroon 5: Overexposed</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Maroon 5: Red Pill Blues</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Neffex: Best of Me</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Nickelback: Silver Side Up</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Nickelback: The Long Road</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Post Malone: August 26th</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Quinn XCII: Make Time</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Savage Ga$p: forever yours</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Set It Off: Elsewhere</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Stellar: Ashes</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Stellar: Blur</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Stellar: Daredevil</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Stellar: El Dorado</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>The Weeknd: Hurry Up Tomorrow</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Three Days Grace: Three Days Grace</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Zara Larsson: So Good</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>blackbear: deadroses</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>blackbear: digital druglord</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>blueberry: EVA 2</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>deadmau5: Vexillology</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>mike.: the lows.</span> <span class = "stars"><span class = "starred">★★</span>★★★</span></li>
            <li><span>Bryce Vine: Mixed Feelings</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
            <li><span>Ed Sheeran: =</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
            <li><span>Miley Cyrus: Bangerz</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
            <li><span>Nathan Feuerstein • NF: Moments</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
            <li><span>UNAVERAGE GANG: Underworld</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
            <li><span>blackbear: cybersex</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
            <li><span>blackbear: help</span> <span class = "stars"><span class = "starred">★</span>★★★★</span></li>
        </ul>
    </details>
{% endblock %}