{% extends "main.jinja2" %}
{% set title = "ben's house" %}
{% set description = "place to share some thoughts." %}
{% block content %}
    <article>
        <h2>Online</h2>
        <hr>
        <div class = "project-row">
            <a href = "https://github.com/iiPythonx/nightwatch" class = "project" target = "_blank" rel = "noreferrer">
                <h3>Nightwatch</h3>
                <p>IRC-like privacy-friendly messaging application.</p>
                {% include "static/assets/link.svg" %}
            </a>
            <a href = "https://github.com/iiPythonx/nova" class = "project" target = "_blank" rel = "noreferrer">
                <h3>Nova Framework</h3>
                <p>Site building framework for people who like to keep it simple.</p>
                {% include "static/assets/link.svg" %}
            </a>
            <a href = "https://github.com/iiPythonx/xpp" class = "project" target = "_blank" rel = "noreferrer">
                <h3>xpp</h3>
                <p>Programming language written some scratch, inspired by Assembly.</p>
                {% include "static/assets/link.svg" %}
            </a>
            <a href = "https://github.com/iiPythonx/website" class = "project" target = "_blank" rel = "noreferrer">
                <h3>Website</h3>
                <p>This website, which is written by hand and built/deployed using Nova.</p>
                {% include "static/assets/link.svg" %}
            </a>
        </div>
    </article>
    <article>
        <h2>Real-life</h2>
        <hr>
        <div class = "project-row">
            <a href = "https://discord.gg/redboxtinkering" class = "project" target = "_blank" rel = "noreferrer">
                <h3>Redbox Tinkering</h3>
                <p>Attempting to reverse engineer Redbox kiosks.</p>
                {% include "static/assets/link.svg" %}
            </a>
            <a href = "https://uniform.iipython.dev" class = "project" target = "_blank">
                <h3>ROTC Uniform Autograde</h3>
                <p>Basic uniform autograde utility for ROTC cadets.</p>
                {% include "static/assets/link.svg" %}
            </a>
        </div>
    </article>
{% endblock %}