:root {
    --ayanami-blue: #6dabe4;
}
@font-face {
    font-family: "Free Pixel";
    src: url("/fonts/free_pixel.woff2");
}
@font-face {
    font-family: "Pixel NES";
    src: url("/fonts/pixel_nes.woff2");
}
* {
    margin: 0px;
    color: #fefefe;
    font-family: "Free Pixel";
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    overflow-x: hidden;  /* To be safe I guess */
    background: black url("/assets/background.png") no-repeat center center;
    background-size: cover;
}
main {
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    position: absolute;
    gap: 20px;
    width: 66%;
    z-index: 2;
    max-width: 850px;
    display: flex;
    padding-bottom: 40px;  /* Ensure scrollbar */
}
article {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(43, 43, 43);
    background-color: black;
}
aside {
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
aside:first-child {
    width: 70%;
}
aside:last-child {
    width: 30%;
}
h2 {
    margin-bottom: 10px;
    color: var(--ayanami-blue);
    font-family: "Pixel NES";
}
ul {
    padding-left: 25px;
}
ul.links {
    padding-left: 10px;
    list-style: none;
}
a {
    text-decoration: none;
}
a:not(.not-pretty):hover {
    color: var(--ayanami-blue);
    text-decoration: underline dotted;
    transition: color .5s ease;
}
a.link-invert {
    color: var(--ayanami-blue);
    text-decoration: underline dotted;
}
a.link-invert:hover {
    color: #fefefe;
    text-decoration: none;
}
.background {
    color: rgb(255, 255, 255, .5);
    user-select: none;
}
.pfp {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 20px;
    border: 1px solid var(--ayanami-blue);
}

/* Title */
#title {
    font-size: 60px;
    top: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px var(--ayanami-blue),
        0 0 82px var(--ayanami-blue),
        0 0 92px var(--ayanami-blue),
        0 0 102px var(--ayanami-blue),
        0 0 151px var(--ayanami-blue);
}

/* Now playing */
#now-playing {
    gap: 10px;
    margin-top: 10px;
    display: flex;
}
#now-playing img {
    width: 50px;
}
#now-playing div {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}
#now-playing span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Raindrops */
#rain {
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}
.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}
.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}
@keyframes drop {
    0% { transform: translateY(0vh); }
    75% { transform: translateY(90vh); }
    100% { transform: translateY(90vh); }
}
@keyframes stem {
    0% { opacity: 1; }
    65% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}
