:root {
    --gap: 10px;
    --width: 1050px;
    --height: 500px;
    --accent: #6dabe4;  /* Ayanami Blue */
    --background: rgba(18, 18, 18, .8);
}
@font-face {
    font-family: "Hasklig";
    src: url("/fonts/hasklig.woff2");
}

/* Base styling */
* {
    margin: 0px;
    color: #fff;
    font-family: "Hasklig";
}
html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    gap: var(--gap);
    max-width: var(--width);
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: black url("/assets/background.avif") no-repeat center center;
    background-size: cover;
}
header > h2 {
    width: fit-content;
    cursor: pointer;
    user-select: none;
}
main {
    gap: var(--gap);
    display: flex;
    height: var(--height);
}
#content {
    position: relative;
    overflow-y: scroll;
}
nav, #content, aside {
    padding: 10px;
}
nav, main {
    border: 1px solid #fff;
    background-color: var(--background);
    backdrop-filter: blur(.5rem);
}
article:not(#content, :last-of-type) {
    margin-bottom: 15px;
}
article > hr {
    width: 200px;
    margin-bottom: 15px;
}
.chonk {
    flex: 1;
}
.read-progress {
    right: 5px;
    bottom: 5px;
    position: sticky;
    display: block;
    font-size: 11px;
    margin-left: auto;
    width: max-content;
}

/* Now playing */
#now-playing {
    gap: 10px;
    margin-top: 10px;
    display: flex;
}
#now-playing > a {
    display: flex;
}
#now-playing img {
    width: 50px;
}
#now-playing div {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}
#now-playing span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Excessive animations */
nav > a.active {
    color: var(--accent);
}
a {
    text-decoration: underline dotted;
    transition: opacity .2s ease;
}
a:hover {
    opacity: .8;
    text-decoration: underline solid;
}

/* Projects page */
div.project-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
a.project {
    cursor: pointer;
    flex: 1;
    min-width: 300px;
    padding: 5px;
    border: 1px solid #fff;
    position: relative;
}
a.project > p {
    font-size: 12px;
}
a.project > svg {
    right: 10px;
    bottom: 10px;
    position: absolute;
    opacity: 0;
}
a.project:hover svg {
    opacity: 1;
    transition: opacity .5s ease;
}
a.project:hover h3, a.project:hover p {
    filter: blur(.05rem);
}
a.project {
    text-decoration: none;
}
a.project h3, a.project p {
    transition: filter .1s ease;
}

/* Sidebar */
.external-links {
    list-style: none;
    padding-left: 15px;
}
.background {
    opacity: .5;
    user-select: none;
}
aside {
    width: 240px;
    display: flex;
    border-left: 1px solid #fff;
    flex-direction: column;
}
#copyright {
    font-size: 11px;
    margin-top: auto;
    text-align: center;
    font-family: monospace;
}

/* 88x31 marquee */
.m88 > div, nav {
    display: flex;
    gap: 10px;
}
.m88 {
    overflow: hidden;
}
.m88 img {
    height: 31px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

/* Git hash */
footer {
    top: 10px;
    right: 10px;
    position: absolute;
    font-family: monospace;
    font-size: 12px;
}
footer > a {
    text-decoration: none;
}
