{% extends "base.jinja2" %}
{% set title = "Projects / Nighwatch" %}
{% set description = "The chatting application to end all chatting applications." %}
{% block content %}
    <h2>Projects / Nightwatch</h2>
    <p>The chatting application to end all chatting applications.</p>
    <h3>Gist</h3>
    <p>IRC-like application with messaging, file uploads, a decentralized design, and no restrictions.</p>
    <h3>Technologies</h3>
    <ul>
        <li><a href = "https://fastapi.tiangolo.com/">FastAPI</a></li>
        <li><a href = "https://www.starlette.io/">Starlette</a></li>
        <li><a href = "https://www.uvicorn.org/">Uvicorn</a></li>
        <li><a href = "https://www.mongodb.com/products/self-managed/community-edition">MongoDB</a></li>
        <li><a href = "https://pypi.org/project/argon2-cffi/">Argon2</a></li>
        <li><a href = "https://docs.pydantic.dev/latest/">Pydantic</a></li>
    </ul>
    <h3>Links</h3>
    <ul>
        <li><a href = "https://github.com/iiPythonx/nightwatch">GitHub repo</a></li>
        <li><a href = "https://nightwatch.iipython.dev">Main chat server</a></li>
        <li><a href = "https://auth.iipython.dev">Authentication server</a></li>
    </ul>
{% endblock %}
