{% extends "base.jinja2" %}
{% set title = "Projects / Nova" %}
{% set description = "A site building framework for people who like to keep it simple." %}
{% block content %}
    <h2>Projects / Nova</h2>
    <p>A site building framework for people who like to keep it simple.</p>
    <h3>Explanation</h3>
    <p>
        Nova is a site building framework using Jinja2 built to create blazing fast, efficient static websites.
        It gives you the flexibility of writing raw HTML, but with the added assistance of templating.
    </p>
    <p>
        This website is powered by Nova, and has been for months now.
    </p>
    <h3>Technologies</h3>
    <ul>
        <li><a href = "https://jinja.palletsprojects.com/">Jinja2</a></li>
        <li><a href = "https://github.com/cirospaciari/socketify.py">Socketify</a></li>
    </ul>
    <h3>Links</h3>
    <ul>
        <li><a href = "https://github.com/iiPythonx/nova">GitHub repo</a></li>
    </ul>
{% endblock %}
