@font-face {
    font-family: "Free Pixel";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/free_pixel.woff2") format("woff2");
}
body {
    color: #fefefe;
    background-color: #121212;
    font-family: "Free Pixel", sans-serif;
}
div.period {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #303030;
    align-items: center;
}
div.period img {
    width: 45px;
    border-radius: 25px;
}
div.temps span {
    font-size: 14px;
}
img {
    image-rendering: pixelated;
}
div#clock {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
}
#time {
    font-size: 82px;
    margin-bottom: 0px;
}
#date {
    font-size: 24px;
    margin-top: 0px;
}
#weather {
    gap: 40px;
    display: flex;
    left: 50%;
    bottom: 20px;
    align-items: center;
    transform: translateX(-50%);
    position: absolute;
    flex-direction: column;
}
#chart {
    height: 150px;
    width: 100%;
}
#periods {
    gap: 10px;
    display: flex;
}
.select {
    cursor: pointer;
}
span.active {
    color: #b5e61d;
    text-decoration: underline;
}
div.active {
    opacity: .6;
}
