{% extends "concept/base.jinja2" %}
{% block content %}
    <h2>Projects / LRCup</h2>
    <p>
        Python CLI and library for interacting with the LRCLIB.net API.
    </p>
    <h3>Gist</h3>
    <p>
        Module that can download, embed, and upload to <a href = "https://lrclib.net">LRCLIB.net</a>.
    </p>
    <h3>Technologies</h3>
    <ul>
        <li><a href = "https://mutagen.readthedocs.io/en/latest/">Mutagen</a></li>
    </ul>
    <h3>Links</h3>
    <ul>
        <li><a href = "https://github.com/iiPythonx/lrcup">GitHub repo</a></li>
    </ul>
{% endblock %}
