{% extends "concept/base.jinja2" %}
{% block content %}
    <h3>About</h3>
    <p>As said in my main page, I'm Benjamin. I'm a software developer, with interests in the system administration and cybersecurity fields.</p>
    <ul>
        <li>I'm currently 89.2% out of highschool.</li>
        <li>I have a self-hosted music collection of 320+ albums.</li>
    </ul>
    <p>Are you a college recruiter? Stop reading this website and <a href = "mailto:ben@iipython.dev">email me</a>.</p>
    <h3>Technical Knowledge</h3>
    <p>I've accumulated pretty decent experience with the following languages:</p>
    <ul>
        <li>High Level: Python, NodeJS</li>
        <li>Low Level: C, C++, Rust, x86 Assembly</li>
        <li>Web: HTML, CSS, JavaScript</li>
        <li>Scripting: Lua, PowerShell, Bash</li>
    </ul>
    <p>In addition, I have experience with the following operating systems:</p>
    <ul>
        <li>Windows 10/11, Windows Server 2019</li>
        <li>Red Hat Enterprise Linux (RHEL)</li>
        <li>Arch Linux, Fedora Linux, and almost all Debian based systems</li>
    </ul>
    <p>Lastly, some Cybersecurity concepts I'm familiar with:</p>
    <ul>
        <li>Zero-trust infrastructure</li>
        <li>Encryption with the GPG/PGP suite (as well as SSH)</li> 
        <li>The use of VPNs (Wireguard and OpenVPN)</li>
    </ul>
    <p><b>If you would like a full list then please feel free to <a href = "mailto:ben@iipython.dev">email me.</a></b></p>
{% endblock %}
