<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "{{ description }}">
        <meta name = "theme-color" content = "#000">
        <meta property = "og:title" content = "{{ title }}">
        <meta property = "og:description" content = "{{ description }}">
        <meta name = "darkreader-lock">

        <!-- CSS -->
        <link rel = "stylesheet" href = "/css/main.css">

        <link rel = "prefetch" href = "/assets/noise.png" />
        <link rel = "prefetch" href = "/fonts/free_pixel.woff2" />
        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico">
        <title>{{ title }}</title>
    </head>
    <body>
        <header></header>
        <main>
            <div class = "flow">
                <img src = "/assets/vhs.png" height = "30" class = "spin">
                <h4>PLEASE INSERT THE TAPE INTO THE PLAYER.</h4>
            </div>
            <div id = "page">
                <div>
                    <div class = "head">
                        <a href = "/"><img src = "/assets/pfp.avif" class = "pfp"></a>
                        <div>
                            <h1>Benjamin O'Brien</h1>
                            <p><i id = "slogan"></i></p>
                        </div>
                    </div>
                    <hr>
                    <div id = "content">{% block content %}{% endblock %}</div>
                </div>
                <div>
                    <hr>
                    <div class = "links">
                        <ul>
                            <li><b>Accounts</b></li>
                            <li><a href = "https://discord.com/users/633185043774177280">Discord</a></li>
                            <li><a href = "https://github.com/iiPythonx">GitHub</a></li>
                            <li><a href = "https://steamcommunity.com/id/iiPython_">Steam</a></li>
                            <li><a href = "https://youtube.com/@iiPythonx">YouTube</a></li>
                        </ul>
                        <ul>
                            <li><b>Projects</b></li>
                            <li><a href = "/projects/nightwatch">Nightwatch</a></li>
                            <li><a href = "/projects/nova">Nova</a></li>
                            <li><a href = "/projects/lrcup">LRCup</a></li>
                        </ul>
                        <ul>
                            <li><b>Friends</b></li>
                            <li><a href = "https://dmmdgm.dev">dmmdgm.dev</a></li>
                            <li><a href = "https://k4ffu.dev">k4ffu.dev</a></li>
                            <li><a href = "https://darkpixlz.com">darkpixlz.com</a></li>
                        </ul>
                        <ul>
                            <li><b>Everything</b></li>
                            <li><a href = "/about">About</a></li>
                            <li><a href = "/music">Music</a></li>
                            <li><a href = "/archives">Archives</a></li>
                            <li><a href = "https://status.iipython.dev">Statuspage</a></li>
                        </ul>
                    </div>
                    <div class = "buttons">
                        <img loading = "lazy" src = "/assets/88x31/css.gif">
                        <img loading = "lazy" src = "/assets/88x31/chrome_is_evil.avifs">
                        <img loading = "lazy" src = "/assets/88x31/gnu_linux.avif">
                        <img loading = "lazy" src = "/assets/88x31/no_cookies.avif">
                        <img loading = "lazy" src = "/assets/88x31/stand_up_to_google.avifs">
                    </div>
                </div>
            </div>
        </main>
        <div id = "fx"></div>

        <!-- JS -->
        <script src = "/js/concept.js"></script>
    </body>
</html>