<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "CONTACT US IMMEDIATELY IF SPOTTED">
        <meta name = "theme-color" content = "#000">
        <meta property = "og:title" content = "WANTED DEAD">
        <meta property = "og:description" content = "CONTACT US IMMEDIATELY IF SPOTTED">
        <meta name = "darkreader-lock">

        <!-- CSS -->
        <style>
            @font-face {
                font-family: "Hasklig";
                src: url("/fonts/hasklig.woff2");
            }
            @font-face {
                font-family: "Pixel NES";
                src: url("/fonts/pixel_nes.woff2");
            }
            body {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
            }
            h1 {
                font-size: 92px;
            }
            h1, h2 {
                color: #fff;
                font-family: "Hasklig";
            }
            h1:first-child {
                font-family: "Pixel NES";
            }
            main {
                text-align: center;
            }
        </style>

        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico" />
        <title>WANTED DEAD</title>
    </head>
    <body>
        <main>
            <h1>DO YOU KNOW THIS MAN?</h1>
            <img loading = "lazy" src = "/assets/dmmd.avif">
            <h2>
                IF YOU HAVE ANY INFORMATION ON HIM, <br>
                PLEASE CONTACT <a href = "mailto:wanted@iipython.dev">WANTED@IIPYTHON.DEV</a> IMMEDIATELY.
            </h2>
            <br>
            <h2>
                $30,000 BOUNTY AVAILABLE <br>
                ACT FAST, THIS MAN IS <u>DANGEROUS</u>.
            </h2>
        </main>
    </body>
</html>