<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "{{ description }}">
        <meta name = "theme-color" content = "#000">
        <meta property = "og:title" content = "{{ title }}">
        <meta property = "og:description" content = "{{ description }}">
        <meta name = "darkreader-lock">

        <!-- CSS -->
        <link rel = "stylesheet" href = "/css/main.css" />
        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico" />
        <title>ben's house</title>
    </head>
    <body>
        <div id = "rain"></div>
        <h1 id = "title">iiPython</h1>
        <main>
            <aside>
                <article>
                    <h2>WELCOME!</h2>
                    <img src = "/assets/pfp_square.avif" class = "pfp">
                    <p>This is my personal space on the interwebz where I share whatever I <i>feel like</i>.</p>
                    <br>
                    <p>I'm a programmer proficient in a lot of different languages, I like to branch out a lot, making random things along the way.</p>
                    <br>
                    <p>Some quick facts (if you want them):</p>
                    <ul>
                        <li>I'm working on attending college right now.</li>
                        <li>Python is my programming language of choice (could you tell?).</li>
                        <li>I have a self-hosted music library of 350+ albums.</li>
                        <li>130 random dead projects are sitting on my hard drive right now.</li>
                        <li>I was a commander for our town's local JROTC.</li>
                    </ul>
                </article>
                <article>
                    <h2>PROJECTS</h2>
                    <h3><a href = "https://github.com/iiPythonx/nova" class = "link-invert">Nova Framework</a></h3>
                    <br>
                    <p>A site building framework for people who like to keep it simple.</p>
                    <br>
                    <h3><a href = "https://github.com/iiPythonx/pizza" class = "link-invert">Pizza</a></h3>
                    <br>
                    <p>Music tagger written in Python designed to be as fast and accurate as possible.</p>
                    <br>
                    <h3><a href = "https://github.com/iiPythonx/nightwatch" class = "link-invert">Nightwatch</a></h3>
                    <br>
                    <p>IRC-like application with messaging, file uploads, a decentralized design, and no restrictions.</p>
                    <br>
                    <h3><a href = "https://github.com/iiPythonx/website" class = "link-invert">This Website</a></h3>
                    <br>
                    <p>This website, which is written by hand and built/deployed using Nova. <s>Not inspired by <a href = "https://dimden.dev">dimden's website</a> at all.</s></p>
                </article>
                <article>
                    <h2>HOBBIES</h2>
                    <p>
                        I heavily enjoy system administration, software development, & networking. <br>
                        On the not so computer related side of things, I like watching:
                        <ul>
                            <li>TV Shows (such as <a href = "https://www.imdb.com/title/tt1839578/" class = "link-invert">Person of Interest</a>)</li>
                            <li><i>Anime</i> (the most notable being <a href = "https://anilist.co/anime/185/Initial-D-1st-Stage/" class = "link-invert">Initial D</a> and <a href = "https://anilist.co/anime/30/Neon-Genesis-Evangelion/" class = "link-invert">Evangelion</a>)</li>
                            <ul>
                                <li>Call me a weeb and you will regret it.</li>
                                <li><s>This sites' accent color is <a href = "https://www.turner.co.jp/ayanamiblue/">Ayanami Blue</a>, lmao.</s></li>
                            </ul>
                        </ul>
                        <br>
                        I also really like rain and storms, for some reason.
                    </p>
                </article>
            </aside>
            <aside>
                <article>
                    <h2>LINKS</h2>
                    <ul class = "links">
                        <li>→ <a href = "/">Home</a></li>
                        <li>→ <a href = "/about">About Me</a></li>
                        <li>→ <a href = "/music">Music</a></li>
                        <li>→ <a href = "/archives">Archives</a></li>
                        <li>→ <a href = "https://status.iipython.dev">Statuspage</a></li>
                        <li>→ <a href = "https://discord.com/users/633185043774177280">Discord</a></li>
                        <li>→ <a href = "https://github.com/iiPythonx">GitHub</a></li>
                        <li>→ <a href = "https://steamcommunity.com/id/iiPython_">Steam</a></li>
                        <li>→ <a href = "https://youtube.com/@iiPythonx">YouTube</a> <i class = "background">(dead)</i></li>
                        <li>→ <a href = "mailto:ben@iipython.dev">Email</a></li>
                    </ul>
                </article>
                <article>
                    <h4>Current song:</h4>
                    <div id = "now-playing"></div>
                </article>
                <div>
                    <marquee loop = "infinite" scrollamount = "3">
                        <img loading = "lazy" src = "/assets/88x31/css.gif">
                        <img loading = "lazy" src = "/assets/88x31/chrome_is_evil.avif">
                        <img loading = "lazy" src = "/assets/88x31/gnu_linux.avif">
                        <img loading = "lazy" src = "/assets/88x31/no_cookies.avif">
                        <img loading = "lazy" src = "/assets/88x31/stand_up_to_google.avif">
                        <img loading = "lazy" src = "/assets/88x31/iipython.avif">
                        <img loading = "lazy" src = "/assets/88x31/go2hell.gif">
                        <img loading = "lazy" src = "/assets/88x31/html5.png">
                        <img loading = "lazy" src = "/assets/88x31/koolaid.gif">
                    </marquee>
                    <marquee loop = "infinite" scrollamount = "3" direction = "right">
                        <img loading = "lazy" src = "/assets/88x31/cool_shades.gif">
                        <img loading = "lazy" src = "/assets/88x31/dbfire88.gif">
                        <img loading = "lazy" src = "/assets/88x31/f_ckfb.gif">
                        <img loading = "lazy" src = "/assets/88x31/faux.gif">
                        <img loading = "lazy" src = "/assets/88x31/firefox4.gif">
                        <img loading = "lazy" src = "/assets/88x31/getacomp.jpg">
                        <img loading = "lazy" src = "/assets/88x31/linux-directory.gif">
                        <img loading = "lazy" src = "/assets/88x31/microsoft_stop.gif">
                        <img loading = "lazy" src = "/assets/88x31/nft.gif">
                        <img loading = "lazy" src = "/assets/88x31/pnfrlenm.gif">

                    </marquee>
                </div>
                <img loading = "lazy" src = "/assets/wdiam.avif">
            </aside>
        </main>

        <!-- JS -->
        <script src = "/js/rain.js" async></script>
        <script src = "/js/iipython.js" async></script>
        <script src = "/js/oneko.js" async></script>
    </body>
</html>