{% extends "templates/retro.jinja2" %}
{% block content %}
    <div class = "wrapper">
        <div class = "content">
            <div class = "heading"><h3>Welcome!</h3></div>
            <p>Hi! I'm Benjamin (known as iiPython on the internet) and this is my personal space on the internet.</p>
        </div>
        <div class = "content">
            <div class = "heading"><h3>What do you do?</h3></div>
            <p>
                I'm a software developer and sysadmin, proficient in Python, C, C++, Rust, NodeJS, Lua, PowerShell, and more.
                I also administer RHEL and Arch Linux based servers.
            </p>
            <p>
                I also <b>have an absolute addiction</b> of listening to music (collection of 310 albums in FLAC and counting).
            </p>
        </div>
        <div class = "content">
            <div class = "heading"><h3>Awards</h3></div>
            <ul>
                <li>I won both the Cybersecurity Excellence and Exceptional Project awards from <a href = "https://usm.edu">The University of Southern Mississippi</a>.</li>
                <li>I served as the Cyberpatriot Team Commander for Grenada Mississippi's NJROTC unit.</li>
                <li>I've also attended both the <a href = "https://www.vexrobotics.com/">VEX Robotics World Championship</a> and the <a href = "https://www.firstinspires.org/robotics/frc">FIRST Robotics State Championship</a> for Mississippi.</li>
            </ul>
        </div>
        <div class = "content">
            <div class = "heading"><h3>Contact</h3></div>
            <p>
                You can contact me at <a href = "mailto:ben@iipython.dev">ben@iipython.dev</a> or through discord (@iipython). <br>
                The source for this website is available <a href = "https://github.com/iiPythonx/website">on GitHub</a>.
            </p>
        </div>
    </div>
{% endblock %}
