<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "{{ description }}">
        <meta name = "theme-color" content = "#000">
        <meta property = "og:title" content = "{{ title }}">
        <meta property = "og:description" content = "{{ description }}">
        <meta name = "darkreader-lock">
 
        <!-- CSS -->
        <link rel = "stylesheet" href = "/css/main.css" />
        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico" />
        <title>ben's house</title>
    </head>
    <body>
        <header>
            <h2>Benjamin O'Brien</h2>
        </header>
        <nav class = "panel">
            <a href = "/">Home</a>
            <a href = "/about">About</a>
            <a href = "/music">Music</a>
            <a href = "/projects">Projects</a>
            <a href = "/archives">Archives</a>
            <a href = "/anime">Anime</a>
            <div class = "chonk"></div>
            <a href = "/keys/ed25519.txt">ssh</a>
            <a href = "/keys/pgp.txt">pgp</a>
            <a href = "mailto:ben@iipython.dev">ben@iipython.dev</a>
        </nav>
        <main>
            <article id = "content" class = "chonk panel">
                {% block content %}{% endblock %}
            </article>
            <aside class = "panel">
                <article>
                    <h3>Links</h3>
                    <hr>
                    <ul class = "external-links">
                        <li>→ <a href = "https://status.iipython.dev">Statuspage</a></li>
                        <li>→ <a href = "https://gc.iipython.dev">Geesecraft</a></li>
                        <li>→ <a href = "/privacy.txt">Privacy Policy</a></li>
                        <li>→ <a href = "https://discord.com/users/633185043774177280" rel = "noreferrer">Discord</a></li>
                        <li>→ <a href = "https://github.com/iiPythonx" rel = "noreferrer">GitHub</a></li>
                        <li>→ <a href = "https://steamcommunity.com/id/iiPython_" rel = "noreferrer">Steam</a></li>
                        <li>→ <a href = "https://youtube.com/@iiPythonx" rel = "noreferrer">YouTube</a> <span class = "background">(dead)</span></li>
                    </ul>
                </article>
                <article>
                    <h3>Friends</h3>
                    <hr>
                    <ul class = "external-links">
                        <li><a href = "https://github.com/DmmDGM">DmmD</a> → <a href = "https://dmmdgm.dev">dmmdgm.dev</a></li>
                        <li><a href = "https://github.com/badobeep">Ernesto</a> → <a href = "https://k4ffu.dev">k4ffu.dev</a></li>
                        <li><a href = "https://github.com/pyxfluff">Pyxfluff</a> → <a href = "https://notpyx.me">notpyx.me</a></li>
                    </ul>
                </article>
                <article>
                    <h3>Current Song</h3>
                    <hr>
                    <div id = "now-playing">...</div>
                </article>
                <span id = "copyright">© 2023-2025 iiPython</span>
            </aside>
        </main>
        <div class = "marquee">
            <div class = "track">
                <img loading = "lazy" src = "/assets/88x31/css.gif">
                <img loading = "lazy" src = "/assets/88x31/chrome_is_evil.avif">
                <img loading = "lazy" src = "/assets/88x31/gnu_linux.avif">
                <img loading = "lazy" src = "/assets/88x31/no_cookies.avif">
                <img loading = "lazy" src = "/assets/88x31/stand_up_to_google.avif">
                <img loading = "lazy" src = "/assets/88x31/iipython.avif">
                <img loading = "lazy" src = "/assets/88x31/go2hell.gif">
                <img loading = "lazy" src = "/assets/88x31/html5.avif">
                <img loading = "lazy" src = "/assets/88x31/koolaid.gif">
                <img loading = "lazy" src = "/assets/88x31/cool_shades.gif">
                <img loading = "lazy" src = "/assets/88x31/dbfire88.gif">
                <img loading = "lazy" src = "/assets/88x31/f_ckfb.gif">
                <img loading = "lazy" src = "/assets/88x31/faux.gif">
                <img loading = "lazy" src = "/assets/88x31/firefox4.gif">
                <img loading = "lazy" src = "/assets/88x31/getacomp.avif">
                <img loading = "lazy" src = "/assets/88x31/linux-directory.gif">
                <img loading = "lazy" src = "/assets/88x31/microsoft_stop.gif">
                <img loading = "lazy" src = "/assets/88x31/nft.gif">
                <img loading = "lazy" src = "/assets/88x31/pnfrlenm.gif">
            </div>
        </div>

        <!-- JS -->
        <script src = "/js/read.js" async defer></script>
        <script src = "/js/generic.js" async defer></script>
        <script src = "/js/music.js" async defer></script>
    </body>
</html>
