<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "{{ description }}">
        <meta name = "theme-color" content = "#000">
        <meta property = "og:title" content = "{{ title }}">
        <meta property = "og:description" content = "{{ description }}">
        <meta name = "darkreader-lock">
 
        <!-- CSS -->
        <link rel = "stylesheet" href = "/css/main.css" />
        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico" />
        <title>ben's house</title>
    </head>
    <body>
        <div id = "rain"></div>
        <h1 id = "title"><a href = "/" class = "not-pretty">iiPython</a></h1>
        <main>
            <aside id = "content">
                {% block content %}{% endblock %}
            </aside>
            <aside>
                <article>
                    <h2>LINKS</h2>
                    <ul class = "links">
                        <li>→ <a href = "/">Home</a></li>
                        <li>→ <a href = "/about">About Me</a></li>
                        <li>→ <a href = "/music">Music</a></li>
                        <li>→ <a href = "/archives">Archives</a></li>
                        <li>→ <a href = "https://status.iipython.dev">Statuspage</a></li>
                        <li>→ <a href = "https://gc.iipython.dev">Geesecraft</a></li>
                        <li>→ <a href = "/privacy.txt">Privacy Policy</a></li>
                        <li>→ <a href = "https://discord.com/users/633185043774177280">Discord</a></li>
                        <li>→ <a href = "https://github.com/iiPythonx">GitHub</a></li>
                        <li>→ <a href = "https://steamcommunity.com/id/iiPython_">Steam</a></li>
                        <li>→ <a href = "https://youtube.com/@iiPythonx">YouTube</a> <i class = "background">(dead)</i></li>
                        <li>→ <a href = "mailto:ben@iipython.dev">Email 📧</a></li>
                        <ul class = "links">
                            <li>→ <a href = "/keys/pgp.txt">PGP Key</a></li>
                        </ul>
                    </ul>
                </article>
                <article>
                    <h2>FRENS!</h2>
                    <ul class = "links">
                        <li><a href = "https://github.com/DmmDGM">DmmD</a>: <a href = "https://dmmdgm.dev" class = "link-invert">dmmdgm.dev</a></li>
                        <li><a href = "https://github.com/badobeep">Ernesto</a>: <a href = "https://k4ffu.dev" class = "link-invert">k4ffu.dev</a></li>
                        <li><a href = "https://github.com/pyxfluff">Pyxfluff</a>: <a href = "https://notpyx.me" class = "link-invert">notpyx.me</a></li>
                    </ul>
                </article>
                <article>
                    <h4>Current song:</h4>
                    <div id = "now-playing">...</div>
                </article>
                <div>
                    <marquee loop = "infinite" scrollamount = "3">
                        <img loading = "lazy" src = "/assets/88x31/css.gif">
                        <img loading = "lazy" src = "/assets/88x31/chrome_is_evil.avif">
                        <img loading = "lazy" src = "/assets/88x31/gnu_linux.avif">
                        <img loading = "lazy" src = "/assets/88x31/no_cookies.avif">
                        <img loading = "lazy" src = "/assets/88x31/stand_up_to_google.avif">
                        <img loading = "lazy" src = "/assets/88x31/iipython.avif">
                        <img loading = "lazy" src = "/assets/88x31/go2hell.gif">
                        <img loading = "lazy" src = "/assets/88x31/html5.avif">
                        <img loading = "lazy" src = "/assets/88x31/koolaid.gif">
                    </marquee>
                    <marquee loop = "infinite" scrollamount = "3" direction = "right">
                        <img loading = "lazy" src = "/assets/88x31/cool_shades.gif">
                        <img loading = "lazy" src = "/assets/88x31/dbfire88.gif">
                        <img loading = "lazy" src = "/assets/88x31/f_ckfb.gif">
                        <img loading = "lazy" src = "/assets/88x31/faux.gif">
                        <img loading = "lazy" src = "/assets/88x31/firefox4.gif">
                        <img loading = "lazy" src = "/assets/88x31/getacomp.avif">
                        <img loading = "lazy" src = "/assets/88x31/linux-directory.gif">
                        <img loading = "lazy" src = "/assets/88x31/microsoft_stop.gif">
                        <img loading = "lazy" src = "/assets/88x31/nft.gif">
                        <img loading = "lazy" src = "/assets/88x31/pnfrlenm.gif">
                    </marquee>
                </div>
                <img loading = "lazy" src = "/assets/wdiam.avif">
            </aside>
        </main>
        <footer><img loading = "lazy" src = "/assets/nerv.avif"></footer>

        <!-- JS -->
        <script src = "/js/rain.js" async></script>
        <script src = "/js/iipython.js" async></script>
        <script src = "/js/oneko.js" async></script>
    </body>
</html>