{% extends "templates/retro.jinja2" %}
{% block content %}
    <div class = "wrapper">
        <div class = "content">
            <div class = "heading"><h3>Music</h3></div>
            <p>In addition to being a software developer, I also (sometimes) make some rather simple music and upload it to <a href = "https://www.youtube.com/@iiPythonx">my YouTube channel</a>.</p>
            <p>If you expect it to be <i>good</i> though, you'll be a bit disappointed.</p>
        </div>
        <div class = "content">
            <div class = "heading"><h3>Current discography (sort of)</h3></div>
            <p>So far, I've released the following:</p>
            <ul class = "music">
                <li>
                    Random Singles
                    <ul>
                        <li><a href = "https://youtu.be/w-bTzYIT2vE">End of Time</a> (04/09/24)</li>
                        <li><a href = "https://youtu.be/Ne5peeTAeqY">Insert Coin</a> (03/30/24)</li>
                        <li><a href = "https://youtu.be/6wkoYh6w2xM">Taco Tuesday</a> (02/17/24)</li>
                        <li><a href = "https://youtu.be/Dl3mg8KgBjE">Glitch in the Matrix</a> (01/28/24)</li>
                        <li><a href = "https://youtu.be/8H-eJoaRjoM">Cyberspace</a> (01/12/24)</li>
                        <li><a href = "https://youtu.be/G4K08lEACcU">Time</a> (12/13/23)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
