{% extends "base.jinja2" %}
{% set title = "iiPython / Music" %}
{% set description = "Place for me to dump links to my music as well as publish album ratings." %}
{% block content %}
    {% include "page/music.html" %}
{% endblock %}
