{% extends "base.jinja2" %}
{% set title = "iiPython / Projects" %}
{% set description = "List of all the projects I've contributed to or maintained." %}
{% block content %}
    {% include "page/projects.html" %}
{% endblock %}
