{% extends "templates/retro.jinja2" %}
{% set title = "iiPython - Music" %}
{% set description = "Place for me to dump links to my music as well as publish album ratings." %}
{% block content %}
    <div class = "wrapper">
        <div class = "content">
            <div class = "heading"><h3>Preface</h3></div>
            <p>This page lists all of the collaborative projects I've either been a part of or contributed to in some form.</p>
        </div>
        <div class = "content">
            <div class = "heading"><h3>Project Listing</h3></div>
            <p>To be filled out later, fixing website CSS at the moment.</p>
        </div>
    </div>
{% endblock %}
