<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "Simple-ish1 start page">
        <meta name = "theme-color" data-react-helmet = "true" content = "#ffffff">
        <meta property = "og:title" content = "Start page!">
        <meta property = "og:description" content = "wtf is this nonsense">
        <meta property = "og:site_name" content = "iiPython">

        <!-- CSS -->
        <link href = "./css/start.css" rel = "stylesheet">

        <title>Start</title>
    </head>
    <body>
        <span id = "input"></span>
        <div id = "clock">
            <h1 id = "time"></h1>
            <h3 id = "date"></h3>
        </div>
        <div id = "weather">
            <div id = "chart">
                <canvas id = "graph"></canvas>
            </div>
            <div id = "periods"></div>
        </div>

        <!-- JS -->
        <script src = "./js/chart.min.js"></script>
        <script src = "./js/chartjs-plugin-datalabels.min.js"></script>
        <script src = "./js/start.js"></script>
    </body>
</html>